body {
    font-family: Arial;
    text-align: center;
    background-color: #f0f8ff;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
}

li {
    cursor: pointer;
    color: blue;
}